DATABASE_HOST = localhost
DATABASE_PORT = 3306
DATABASE_USERNAME = 
DATABASE_PASSWORD = 
DATABASE_NAME = 

# If true, this will use better-sqlite3 seeded temporary database for development purposes
DATABASE_MOCK = 

AUTH_JWT_SECRET = 

UPLOADS_PATH = 

